/* Genel stil ayarları */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./img/bg.jpg');
    color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

/* Container: Sayfayı ikiye ayıran kapsayıcı */
.container {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Sol kısım - logo */
.left-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo {
    max-width: 50%; /* Logo boyutunu sınırlama */
    max-height: 50%;
    
}

/* Sağ kısım - form */
.right-side {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* Başlık */
h1 {
    text-align: center;
    color: #ddd;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Form stil ayarları */
form {
    width: 100%;
    max-width: 400px;
    margin: 20px;
    padding: 30px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

form:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

/* Girdi alanları */
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border-color: #007bff;
    background-color: #fff;
}

/* Buton stil ayarları */
button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Link stil ayarları */
a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Flash mesajları */
p {
    text-align: center;
    margin-top: 10px;
}

.message {
    background-color: #f0f8ff;
    color: #333;
    padding: 12px;
    border-radius: 8px;
    margin: 10px 0;
    text-align: center;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
}
