{% extends 'base.html' %}

{% block content %}
  <div class="container">


    <div class="row mt-4">
        <!-- Dosya Yedekleme ve Senkronizasyon -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5>Dosya Yedekleme</h5>
                </div>
                <div class="card-body">
                    <p>Dosyalarınızı düzenli olarak yedeklemek için aşağıdaki butonu kullanabilirsiniz.</p>
                    <a href="" class="btn btn-primary w-100">Dosya Yedekle</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header bg-secondary text-white">
                    <h5>Dosya Senkronizasyonu</h5>
                </div>
                <div class="card-body">
                    <p>Yedeklediğiniz dosyaları senkronize etmek için buradan erişebilirsiniz.</p>
                    <a href="" class="btn btn-secondary w-100">Dosya Senkronize Et</a>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
